# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.py[cod]

# Notebooks
.ipynb_checkpoints

# PyCharm
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# C extensions
*.so
*.o
